{% extends 'layoutAdmin.html.twig' %}

{% block title %}Nouvelle Performance{% endblock %}

{% block body %}
    <h1 class="text-primary text-center m-5">Ajouter une Performance</h1>
    <div class="container">
    {{ include('adminPerformance/_form.html.twig') }}
    </div>
    <a class="btn btn-primary" href="{{ path('performance_index') }}">Retour</a>
{% endblock %}
