{% block banner %}
    <div class="banner alert alert-primary bg-light border-primary d-block d-sm-none text-center w-100 mb-0" role="alert" >
        <img src="{{ asset('build/images/wild-circus.png') }}" width="60px" height="40px" alt="logo">
    </div>
{% endblock %}