
$primary : #e42828;
$secondary: #ffec05;
$third-color: #d2c7c7;
$light: #ffffff;
$dark: #2b0404;
$title-font: 'Mali', cursive;
$text-font: 'Roboto', sans-serif;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-4: $spacing-2 * 2;
$navbar-height: 125px;
$mobile-breakpoint: 490px;

